USE [master]
GO
/****** Object:  Database [GestionTurnosHospitalDB]    Script Date: 8/4/2026 17:41:52 ******/
CREATE DATABASE [GestionTurnosHospitalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionTurnosHospitalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionTurnosHospitalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionTurnosHospitalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionTurnosHospitalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionTurnosHospitalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionTurnosHospitalDB]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[AreaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[EspecialidadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecialidadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[EstadoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoTurnos]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoTurnos](
	[EstadoTurnoId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstadoTurnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[MedicoId] [int] IDENTITY(1,1) NOT NULL,
	[NLicencia] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[EspecialidadId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[PacienteId] [int] IDENTITY(1,1) NOT NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Sexo] [char](1) NOT NULL,
	[Direccion] [nvarchar](255) NULL,
	[Seguro] [nvarchar](100) NULL,
	[Correo] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[PacienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prioridades]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prioridades](
	[PrioridadId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrioridadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recepcionistas]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recepcionistas](
	[RecepcionistaId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[AreaId] [int] NOT NULL,
	[UsuarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecepcionistaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turnos]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[TurnoId] [int] IDENTITY(1,1) NOT NULL,
	[PacienteId] [int] NOT NULL,
	[MedicoId] [int] NOT NULL,
	[RecepcionistaId] [int] NOT NULL,
	[Observaciones] [nvarchar](max) NULL,
	[NumeroTurno] [int] NOT NULL,
	[PrioridadId] [int] NOT NULL,
	[EstadoTurnoId] [int] NOT NULL,
	[FechaHoraCreacion] [datetime] NULL,
	[FechaHoraInicio] [datetime] NULL,
	[FechaHoraFin] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TurnoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/4/2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[RolId] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[UltimoAcceso] [datetime] NULL,
	[EstadoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([AreaId], [Nombre], [Descripcion]) VALUES (1, N'Cardiología', N'Área especializada en enfermedades del corazón')
INSERT [dbo].[Areas] ([AreaId], [Nombre], [Descripcion]) VALUES (2, N'Pediatría', N'Atención médica a niños y adolescentes')
INSERT [dbo].[Areas] ([AreaId], [Nombre], [Descripcion]) VALUES (3, N'Neurología', N'Diagnóstico y tratamiento del sistema nervioso')
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidades] ON 

INSERT [dbo].[Especialidades] ([EspecialidadId], [Nombre], [Descripcion]) VALUES (1, N'Cardiología', N'Especialidad del corazón y sistema cardiovascular')
INSERT [dbo].[Especialidades] ([EspecialidadId], [Nombre], [Descripcion]) VALUES (2, N'Pediatría', N'Especialidad médica en niños')
INSERT [dbo].[Especialidades] ([EspecialidadId], [Nombre], [Descripcion]) VALUES (3, N'Neurología', N'Especialidad del sistema nervioso')
SET IDENTITY_INSERT [dbo].[Especialidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Estados] ON 

INSERT [dbo].[Estados] ([EstadoId], [Nombre], [Descripcion]) VALUES (1, N'Activo', N'Usuario o registro activo en el sistema')
INSERT [dbo].[Estados] ([EstadoId], [Nombre], [Descripcion]) VALUES (2, N'Inactivo', N'Usuario o registro inactivo')
INSERT [dbo].[Estados] ([EstadoId], [Nombre], [Descripcion]) VALUES (3, N'Suspendido', N'Acceso temporalmente suspendido')
SET IDENTITY_INSERT [dbo].[Estados] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoTurnos] ON 

INSERT [dbo].[EstadoTurnos] ([EstadoTurnoId], [Nombre], [Descripcion]) VALUES (1, N'Creado', N'El turno ha sido registrado y está en espera')
INSERT [dbo].[EstadoTurnos] ([EstadoTurnoId], [Nombre], [Descripcion]) VALUES (2, N'En Atención', N'El paciente está siendo atendido actualmente')
INSERT [dbo].[EstadoTurnos] ([EstadoTurnoId], [Nombre], [Descripcion]) VALUES (3, N'Atendido', N'El turno fue completado exitosamente')
SET IDENTITY_INSERT [dbo].[EstadoTurnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([MedicoId], [NLicencia], [Nombre], [Apellido], [EspecialidadId], [UsuarioId]) VALUES (1, N'LIC-001-2020', N'Roberto', N'Pérez', 1, 2)
INSERT [dbo].[Medicos] ([MedicoId], [NLicencia], [Nombre], [Apellido], [EspecialidadId], [UsuarioId]) VALUES (2, N'LIC-002-2019', N'Carmen', N'Gómez', 2, 3)
SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([PacienteId], [Cedula], [Nombre], [Apellido], [FechaNacimiento], [Sexo], [Direccion], [Seguro], [Correo]) VALUES (1, N'00112345678', N'Carlos', N'Martínez', CAST(N'1985-03-15' AS Date), N'M', N'Calle 1, Santo Domingo', N'ARS Humano', N'carlos.martinez@mail.com')
INSERT [dbo].[Pacientes] ([PacienteId], [Cedula], [Nombre], [Apellido], [FechaNacimiento], [Sexo], [Direccion], [Seguro], [Correo]) VALUES (2, N'00198765432', N'Laura', N'Rodríguez', CAST(N'1992-07-22' AS Date), N'F', N'Av. Independencia 45', N'ARS Salud Segura', N'laura.rodriguez@mail.com')
INSERT [dbo].[Pacientes] ([PacienteId], [Cedula], [Nombre], [Apellido], [FechaNacimiento], [Sexo], [Direccion], [Seguro], [Correo]) VALUES (3, N'00156789012', N'Pedro', N'González', CAST(N'1978-11-30' AS Date), N'M', N'Calle 5, San Pedro', N'SENASA', N'pedro.gonzalez@mail.com')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Prioridades] ON 

INSERT [dbo].[Prioridades] ([PrioridadId], [Nombre], [Descripcion]) VALUES (1, N'Alta', N'Atención inmediata requerida')
INSERT [dbo].[Prioridades] ([PrioridadId], [Nombre], [Descripcion]) VALUES (2, N'Media', N'Atención en el próximo turno disponible')
INSERT [dbo].[Prioridades] ([PrioridadId], [Nombre], [Descripcion]) VALUES (3, N'Baja', N'Puede esperar turno regular')
SET IDENTITY_INSERT [dbo].[Prioridades] OFF
GO
SET IDENTITY_INSERT [dbo].[Recepcionistas] ON 

INSERT [dbo].[Recepcionistas] ([RecepcionistaId], [Nombre], [Apellido], [AreaId], [UsuarioId]) VALUES (1, N'Ana', N'Fernández', 1, 4)
INSERT [dbo].[Recepcionistas] ([RecepcionistaId], [Nombre], [Apellido], [AreaId], [UsuarioId]) VALUES (2, N'Luis', N'Castillo', 2, 5)
INSERT [dbo].[Recepcionistas] ([RecepcionistaId], [Nombre], [Apellido], [AreaId], [UsuarioId]) VALUES (3, N'María', N'Reyes', 3, 6)
SET IDENTITY_INSERT [dbo].[Recepcionistas] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RolId], [Nombre], [Descripcion]) VALUES (1, N'Administrador', N'Acceso total al sistema')
INSERT [dbo].[Roles] ([RolId], [Nombre], [Descripcion]) VALUES (2, N'Médico', N'Gestión de turnos y pacientes')
INSERT [dbo].[Roles] ([RolId], [Nombre], [Descripcion]) VALUES (3, N'Recepcionista', N'Registro de pacientes y gestión de turnos')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioId], [Usuario], [Contrasena], [RolId], [FechaCreacion], [UltimoAcceso], [EstadoId]) VALUES (1, N'admin01', N'hash_admin01', 1, CAST(N'2024-01-01T08:00:00.000' AS DateTime), CAST(N'2024-12-01T09:00:00.000' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([UsuarioId], [Usuario], [Contrasena], [RolId], [FechaCreacion], [UltimoAcceso], [EstadoId]) VALUES (2, N'dr.perez', N'hash_drperez', 2, CAST(N'2024-01-05T09:00:00.000' AS DateTime), CAST(N'2024-12-02T08:30:00.000' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([UsuarioId], [Usuario], [Contrasena], [RolId], [FechaCreacion], [UltimoAcceso], [EstadoId]) VALUES (3, N'dr.gomez', N'hash_drgomez', 2, CAST(N'2024-01-06T09:00:00.000' AS DateTime), CAST(N'2024-12-01T10:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Medicos__43289F4726D119A4]    Script Date: 8/4/2026 17:41:53 ******/
ALTER TABLE [dbo].[Medicos] ADD UNIQUE NONCLUSTERED 
(
	[NLicencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Paciente__B4ADFE38E92764D2]    Script Date: 8/4/2026 17:41:53 ******/
ALTER TABLE [dbo].[Pacientes] ADD UNIQUE NONCLUSTERED 
(
	[Cedula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__E3237CF7EDBF58A5]    Script Date: 8/4/2026 17:41:53 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Turnos] ADD  DEFAULT (getdate()) FOR [FechaHoraCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Especialidades] FOREIGN KEY([EspecialidadId])
REFERENCES [dbo].[Especialidades] ([EspecialidadId])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_Especialidades]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_Usuarios]
GO
ALTER TABLE [dbo].[Recepcionistas]  WITH CHECK ADD  CONSTRAINT [FK_Recepcionistas_Areas] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([AreaId])
GO
ALTER TABLE [dbo].[Recepcionistas] CHECK CONSTRAINT [FK_Recepcionistas_Areas]
GO
ALTER TABLE [dbo].[Recepcionistas]  WITH CHECK ADD  CONSTRAINT [FK_Recepcionistas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([UsuarioId])
GO
ALTER TABLE [dbo].[Recepcionistas] CHECK CONSTRAINT [FK_Recepcionistas_Usuarios]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_EstadoTurnos] FOREIGN KEY([EstadoTurnoId])
REFERENCES [dbo].[EstadoTurnos] ([EstadoTurnoId])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_EstadoTurnos]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Medicos] FOREIGN KEY([MedicoId])
REFERENCES [dbo].[Medicos] ([MedicoId])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Medicos]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Pacientes] FOREIGN KEY([PacienteId])
REFERENCES [dbo].[Pacientes] ([PacienteId])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Pacientes]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Prioridades] FOREIGN KEY([PrioridadId])
REFERENCES [dbo].[Prioridades] ([PrioridadId])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Prioridades]
GO
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD  CONSTRAINT [FK_Turnos_Recepcionistas] FOREIGN KEY([RecepcionistaId])
REFERENCES [dbo].[Recepcionistas] ([RecepcionistaId])
GO
ALTER TABLE [dbo].[Turnos] CHECK CONSTRAINT [FK_Turnos_Recepcionistas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Estados] FOREIGN KEY([EstadoId])
REFERENCES [dbo].[Estados] ([EstadoId])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Estados]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([RolId])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD CHECK  (([Sexo]='F' OR [Sexo]='M'))
GO
USE [master]
GO
